<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>My Blog</header>
    <main>
      {{ content }}
    </main>
    <footer>Copyright © {{ 'now' | date: '%Y' }} Andy Carlberg</footer>
  </body>
</html>
