---
import { Icon } from "astro-icon/components";
import ContactLink from "../components/ContactLink.astro";
---

<div class="flex space-x-12 my-8 justify-center">
  <ContactLink href="https://www.linkedin.com/in/andycarlberg" target="_blank" rel="noopener noreferrer">
    <Icon name="simple-icons:linkedin" />
  </ContactLink>
  <ContactLink href="/contact">
    <Icon name="lucide:mail" />
  </ContactLink>
  <ContactLink href="/posts">
    <Icon name="lucide:notebook-pen"
  </ContactLink>
</div>
