---
const today = new Date();
---

<footer class="mt-12 flex justify-center w-full">
  <div class="px-6 max-w-4xl mx-auto w-full"> 
    <div class="flex justify-center py-4">
      <small>&copy; {today.getFullYear()} Andy Carlberg. All rights reserved.</small>
    </div>
  </div>
</footer>
