---
interface Props {
	// Allows optional utility classes to be passed to the wrapper
	class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    'prose',
    'max-w-none', // Prevents the 'prose' utility from double-constraining the width
    'md:prose-lg', // Slightly larger prose size for comfortable reading
    'dark:prose-invert', 
    className,
  ]}
>
  <slot />
</div>
