---
import { Icon } from "astro-icon/components";
---

<button
  id="theme-toggle"
  class="border-outline-variant hover:border-primary relative flex h-5 min-w-10 items-center justify-between rounded-full border bg-surface-container transition-colors"
  aria-label="Toggle theme"
  aria-pressed="false"
  type="button"
>
  <span
    id="theme-toggle-icon"
    class="bg-background text-on-background z-10 flex h-5 w-5 items-center justify-center rounded-full transition-transform duration-300 ease-in-out dark:translate-x-[calc(100%+-2px)]"
  >
    <Icon name="lucide:sun" class="h-3 w-3 dark:hidden" />
    <Icon name="lucide:moon" class="hidden h-3 w-3 dark:block" />
  </span>
</button>

<script>
  const storageKey = 'theme';
  const classDark = 'dark';
  const toggleBtn = document.getElementById('theme-toggle');

  const updateAriaLabel = (isDark: boolean) => {
    if (toggleBtn) {
      toggleBtn.setAttribute('aria-label', isDark ? 'Switch to light mode' : 'Switch to dark mode');
      toggleBtn.setAttribute('aria-pressed', isDark.toString());
    }
  };

  if (toggleBtn) {
    // Initial ARIA label setup
    updateAriaLabel(document.documentElement.classList.contains(classDark));

    // Toggle logic on click
    toggleBtn.addEventListener('click', () => {
      const isDark = document.documentElement.classList.toggle(classDark);
      updateAriaLabel(isDark);
      localStorage.setItem(storageKey, isDark ? 'dark' : 'light');
    });
  }
</script>
